a{ color: #C10;}
a:link{color:cyan;}
a:visited{
color: brown;}
a:hover{
color: yellow;}
a:active{
color:Red;}
input:focus{background-color: red;}
input:hover{background-color: yellow;}
p::selection{font-size: 20px;}
.color{
    color: blue;
    background: #00FFCC;
    border-style: dotted;
    border-width: 5px;
    font-size: 14px;
}
li:nth-child(2n+1){color: #90F;}
p:nth-of-type(2){background: #FF0000;}
li:nth-of-type(4){background: #00FF00;}
li:nth-child(1){background: cyan;}

#titulo{
    background-image: url("https://picsum.photos/200/300");
    border-style: groove;
    border-color: #33FF00;
}
#titulo2{
    border-style: outset;
    border-color: #FF3300;
    border-width: thick;
}
p::first-letter{color:purple;}